body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    background-color: rgba(197, 202, 202, 0.384);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    border: 5px solid #0000004d;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
    padding: 30px 30px;
}

.form h1 {
    margin: 2px 10px;
}

@media (max-width: 700px) {
    .container {
        align-items: flex-start;
    }
}

@media (max-width: 375px) {
    .form {
        padding: 0;
        border: none;
        border-radius: 0;
    }
}